.form label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
}

.title {
    font-size: 3rem;
}

.button {
    cursor: pointer;
    transition: transform 200ms, box-shadow 200ms;
}

.button:hover {
    transform: translateY(-2px);
}


.button:active {
    transform: translateY(-6px);
    box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.75);
}

.textInput, .button {
    padding: 0.5rem;
    font-size: 2rem;
    background-color: wheat;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

