
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    margin-bottom: 1.5rem;
  }
  
  
  .logo {
    max-width: 14rem;
    justify-self: center;
    align-self: center;
  
  }
  
  .title {
    font-size: 4rem;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    line-height: 1;
  }
  