.main {
    padding: 1rem;
    background-color: #f8f8f8;
  }
  

.layout {
    padding: 2rem;
    max-width: 38rem;
    margin: 0.5rem auto;
    
}

.nav {
    background-color: #f8f8f8;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.nav ul li {
    list-style: none;
}